<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>	
<!-- <a href="/admin/add/song">Add New Song</a> |
<a href="/admin/add/plan">Add New Plan</a> | 
<a href="/admin/song">All Songs List</a> |
<a href="/admin/plan">All Plans List</a> -->
<header>
  <nav class="nav-area">
    <li >Home</li>|
    <li ><a  href="/admin/add/song">Add Song</a></li>|
    <li ><a href="/admin/add/plan">Add Plan</a></li>|
    <li ><a href="/admin/song">All Songs</a></li>|
    <li ><a href="/admin/plan">All Plans</a></li>|
    <li ><a href="/admin/sales">Sales Report</a></li>|
    <li ><a href="/admin/comments">Show Comments</a></li>
</nav>
  <a class="btn-area" href="/">LOGIN</a>
</header>
<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
