<%- include ../layouts/header.ejs %>

<div class="jumbotron centered" style="padding-top: 100px;">
  <div class="container" >
    <img id="music" src="css/img/music.png" >
    <h1 class="display-3"><%=title%></h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/users/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>
  </div>
</div>
<%- include ../layouts/footer.ejs %>